@import url(/assets/css/Import_Font.css);
@import url(/assets/css/keyframe_animation.css);
@import url(/assets/css/container.css);

:root {
    --main-color: #DCF2F1;
    --secondary-color: #7FC7D9;
    --third-color: #365486;
    --fourth-color: #0F1035;
    --background-clr: linear-gradient(150deg, rgba(180,198,197,1) 3%, rgba(193,205,205,1) 33%, rgba(220,242,241,1) 63%, rgba(255,255,255,1) 93%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

a {
    color: inherit !important;
    text-decoration: none !important;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--secondary-color);
}

body>.container {
    padding: 1rem 5%;
}

section {
    margin: 3rem auto;
}

.header {
    position: sticky;
    top: 1rem;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4.5rem;
    background-color: var(--main-color);
    box-shadow: 0 0px 8px rgba(85, 97, 110, 0.9);
    border-radius: 1rem;
    margin: 2rem;
}

header .container-logo-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .logo {
    width: 3.5rem;
}

header .logo_title {
    font-size: 2rem;
    font-weight: 800;
    vertical-align: middle;
    color: var(--third-color);
}

header .logo_title span {
    color: black;
}

header .container-navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
}

header .navbar {
    width: 75%;
}

header .navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

header .navbar ul a:hover:not(:last-child) {
    color: var(--third-color) !important;
    border-bottom: .2rem solid var(--third-color);
}

/* Section */

main .container-section {
    /* background-color: var(--main-color); */
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0px 8px rgba(85, 97, 110, 0.9);
}

main .container-section {
    background: linear-gradient(270deg, #e6eceb, #dcf2f1, #aecdc5);
    background-size: 600% 600%;
    -webkit-animation: gradien_background 9s ease infinite;
    -moz-animation: gradien_background 9s ease infinite;
    animation: gradien_background 9s ease infinite;
}

main .container-greet {
    display: flex;
    width: 50%;
    flex-direction: column;
}

main .greet {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

main .container-hero {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

main .container-hero img {
    width: 75%;
}

main .container-greet div {
    margin: 0.5rem 0;
}

main .container-greet article {
    font-size: 14px;
}
main .container-greet h1 {
    font-size: 36px;
}

main .container-greet-button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.button {
    background-color: var(--third-color);
    color: var(--main-color) !important;
    padding: 0.75rem 2rem;
    border-radius: 2rem;
    display: flex;
}

.button:hover {
    color: var(--main-color) !important;
    background-color: #1b2d4c;
}
.container-service {
    flex: 0 0 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 5rem auto;
}
.service-title {
    display: flex;
    justify-content: center;
    margin: 1% auto 0.5rem auto;
}

.button-layanan {
    width: max-content;
}

.service-greet {
    display: flex;
    justify-content: center;
    margin: 1rem auto;
    font-size: 1.2rem;
    max-width: 60%;
    text-align: center;
}

.list-service {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: flex-start;
}

.list-service .item {
    flex: 0 0 20%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 2.5rem 0rem;
    border-radius: 2rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.list-service .item img{
    width: 100px;
    height: 100px;
}

.list-service .item h2 {
    line-height: 3;
    text-align: center;
}

.list-service .item h3 {
    height: 5.5rem;
    display: block;
    margin: 1rem;
    font-weight: 400;
    text-align: center;
}